{% extends "index.html" %}
{% block inner_content %}

<div class="col-12 col-s-12">
    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/ulHJ2kzG8SI?si=zkuBrUer6t4QI6eJ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/gTw_d4_L6j4?si=zkuBrUer6t4QI6eJ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/RohxCgnoX_o?si=Sl4Wxn3GVNfcIziU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/l9n66DWKCqk?si=bd0NT0KUvqp8nl47"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/9b3BbV8pHZY?si=wQDlZ7xJpx1RS8Sm"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="youtube-video-container">
        <iframe class="youtube-video" width="80%" src="https://www.youtube.com/embed/g0XEsC3Ff58?si=M1W9IQ_bL8OfGodD"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}
