{% extends "index.html" %}
{% block inner_content %}

<!----------------------------------------- BLINDO --------------------------------------------------->

<div class="col-12 col-s-12" style="background:black; color:white; padding:2% 0%;">
    <h1 style="text-align: center;"> BLINDO </h1>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Untitled-1.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Expression-Sheet---Blindo.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Turnaround---Blindo.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Wing-Poses---Blindo.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Pose-Sheet---Blindo.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Hand-Design---Blindo.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Blindo/Costume-Sheet---Blindo.jpg" width="70%">
    </div>
</div>


<!-------------------------------------- ANDRIOTTI ----------------------------------------->

<div class="col-12 col-s-12" style="background:black; color:white; padding:2% 0%;">
    <h1 style="text-align: center;"> ANDRIOTTI </h1>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Andriotti/Andriotti-Rough.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Andriotti/Turnaround---Andriotti.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Andriotti/Wing-Poses---Andriotti.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Andriotti/Costume-Sheet---Andriotti.jpg" width="70%">
    </div>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Andriotti/Andriotti_Rig_Model.jpg" width="70%">
    </div>
</div>

<!-------------------------------------- CAUTIO ----------------------------------------->
<div class="col-12 col-s-12" style="background:black; color:white; padding:2% 0%;">
    <h1 style="text-align: center;"> CAUTIO </h1>
</div>
<div class="col-12 col-s-12">
    <div class="center">
        <img src="static/images/characters/Cautio/Cautio-and-Books.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Cautio-Rig-Model2.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Body-Rough-Plan.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Cautio-head-plan-board-1.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Eyes-and-Ears.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Specs-Choices.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Cautio-Wings.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Poses-&-Expressions.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/Cautio-hand-poses.jpg" width="70%">
    </div>
    <div class="center">
        <img src="static/images/characters/Cautio/For-design-bg.jpg" width="70%">
    </div>
</div>

{% endblock %}